@import '../../scss/config';

footer {
    display: block;
    width: 100vw;
    position: fixed;
	bottom: 0;
    background: lighten($primary-color, 10);
    .footer-content {
         display: flex;
		 justify-content: space-between;
		 align-items: center;
		 &__social-icon {
			font-size: 2rem;
			padding: 0.75rem 0.75rem 0.25rem 0.75rem;
			&__link {
			   @include transition-ease;
			   padding: 0 .45rem;
			   &:hover {
				  color: $secondary-color;
			   }
			}
		 }
		 &__signature {
			font-size: 1rem;
			padding-right: 0.75rem;
		 }
    }
}          
