@import '../../scss/config';

footer {
    display: block;
	padding: 0.75rem 0.75rem 0.25rem 0.75rem;
    .footer-content {
         display: flex;
		 justify-content: space-between;
		 align-items: center;
		 &__social-icon {
			font-size: 2rem;
			&__link {
			   @include transition-ease;
			   padding: 0 1.5rem;
			   &:hover {
				  color: $secondary-color;
			   }
			}
		 }
		 &__signature {
			font-size: 1rem;
			padding-right: 0.75rem;
		 }
    }
}          
